version: "3.8"

services:
  # Backend service (development)
  backend:
    build:
      context: ./back
      target: development
    image: lesan-backend:dev
    volumes:
      - ./back:/app
      - /app/declarations # Exclude declarations directory from mounting
      - ./back/uploads:/app/uploads # Ensure uploads directory is mounted correctly
    environment:
      - APP_PORT=8000
      - ENV=development
      - MONGO_URI=mongodb://mongo:27017/mydatabase
      - REDIS_URI=redis://redis:6379
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`api.localhost`)"
      - "traefik.http.routers.backend.entrypoints=web"
      - "traefik.http.services.backend.loadbalancer.server.port=8000"

  # Frontend service (development)
  frontend:
    build:
      context: ./front
      target: development
    image: lesan-frontend:dev
    volumes:
      - ./front:/app
      - frontend_node_modules:/app/node_modules
    environment:
      - APP_PORT=3000
      - NODE_ENV=development
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`frontend.localhost`)"
      - "traefik.http.routers.frontend.entrypoints=web"
      - "traefik.http.services.frontend.loadbalancer.server.port=3000"

  # Traefik service (development)
  traefik:
    volumes:
      - ./traefik/traefik.dev.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic_conf.dev.yml:/etc/traefik/dynamic_conf.yml:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.localhost`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.entrypoints=web"

volumes:
  frontend_node_modules:
    driver: local
